<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <body ng-app="">
        <h1>Welcome</h1>
        <h2>Registration/Login</h2>

                        <label> Login</label>
                        <input type="checkbox" ng-model="myVar1" ng-init="myVar1-false">
                        <label> Register</label>
                        <input type="checkbox" ng-model="myVar2" ng-init="myVar2-true">

        <div ng-if="myVar1">
            <p>Sign in</p>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="text">
        </div>

        


        <div ng-if="myVar2">
            <p>Register</p>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="text">
        </div>

        <div>
            <label> Click me to make text randomly</label>
            <input type="checkbox" ng-model="checked"><br>
            
            <input type="text" ng-readonly="checked" value="">
        </div>

    </body>
        <br>
        <br>
    <body ng-app="">
        <form name="form">
            <div ng-hide="toShow">
                <input type="text" required ng-model="Name">
                <br>
                <br>
                <input type="button" ng-disabled="form.$invalid" ng-click="toShow =true" value="Sign In"/>
            </div>


            <div ng-show="toShow">
                Sign in successful.
                <br>
                <input type="button" ng-click="toShow=false" value="Logout"/>


            </div>


        </form>
    </body>
</body>
</html>

