<!DOCTYPE html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <body ng-app="">

        Register Now? <input type="checkbox" ng-model="myVar1" ng-init="myVar1-false">
                        <input type="checkbox" ng-model="myVar2" ng-init="myVar2-true">

        <div ng-if="myVar1">
            <p>Sign in</p>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="text">
        </div>


        <div ng-if="myVar2">
            <p>Sign in</p>
            <label>Username</label>
            <input type="text">
            <label>Password</label>
            <input type="text">
        </div>

        <div>
            <label> Click me to make text randomly</label>
            <input type="checkbox" ng-model="checked"> <br>

            <input type="text" ng-readonly="checked" value="">
        </div>

        <div>
            <label> Click me to make text randomly</label>
            <input type="checkbox" ng-model="checked1"> <br>

            <input type="text" ng-disabled="checked1" value="">
        </div>
    </body>
</html>

